body{
    max-width: 1280px;
    width: auto;
}
#header{
    max-height: 300px;
    max-width: 100%;
    height:auto;
    width:auto;
}
div#header.container{
    margin: 0px 0px;
}
.margin0{
    margin: 0px 0px;
}
.margin_left20{
    margin-left: 20px;
}
.margin_left50{
    margin-left: 50px;
}
.margin_top20{
    margin-top: 20px;
}
.bottom20{
    position:relative;
    bottom: 20px;
}
.btn_posi{
    position:relative;
    top: 30px;
    right:400px;
}
.width100{
        width:100px;
}
.width500{
        width:500px;
}
#logo{
    max-width: 300px;
    height: auto;
    float:left;
}
#id{
    height:auto;
    width:300px;
    float:right;
    position: relative;
    top:25px;
}
#a{
    position:relative;
    bottom: 34px;
    left:100px;
}
p{
    font-size:20px;
}
#confirm_btn1{
    position:relative;
    left:300px;
}
#confirm_btn2{
    height:0;
    position:relative;
    left:350px;
}
textarea{
    width: 700px;
}
#text_q{
    height:200px;
    width:65%;
}
.float_left{
    float:left;
}
.float_light{
    float: right;
}
.button_position{
    position: relative;
    left:100px;
}
.btn_posi{
        width:100px;
        position: relative;
        left: 300px;
    }
.border{
    border-left: 1px solid #CEE0F5;
}
#footer{
    margin-top: 100px;
    height:150px;
    width: 100%;
    background-color: #CEE0F5;
}
#footer>ul>li{
    margin-top: 30px;
    list-style: none;
    float: left;
    height: 80px;
    width: 33%;
    border-left: 1px solid #222;
}
#footer>ul>li>a{
    position: relative;
    top:30px;
}
#btn_ret{
    text-align: center;
    position:relative;
    left:400px;
}
#btn_nex{
    text-align: center;
    display:inline-block;
    position:relative;
    left:500px;
}
.page_num{
    font-size:20px;
    text-align: left;
    margin-left: 30%;
}
.page_num > a{
    margin-left: 5px;
}
.list{
    background-color: ghostwhite;
    height:120%;
    width: 65%;
}
.question{
    width: 65%;
}
@media(max-width: 900px){
/*    width900px以下*/
    body{
        max-width: 900px;
        width: auto;
    }
    #header{
        height:auto;
        width:auto;
    }
    .width100{
        float: left;
        width: 100px;
    }
    .width400{
        width: 400px;
    }
    #id{
        height:auto;
        width:300px;
        float:right;
        position: relative;
        top:25px;
    }
    .button_position{
        width:100px;
        position: relative;
        left:300px;
    }
    .btn_posi{
        width:100px;
        position:relative;
        top: 30px;
        left:0px;
    }
    textarea{
        width: 500px;
    }
    #a{
        width:100px;
        position:relative;
        bottom: 34px;
        left:100px;
    }
    #btn_ret{
        text-align: center;
        position:relative;
        left:200px;
    }
    #btn_nex{
        text-align: center;
        display:inline-block;
        position:relative;
        left:300px;
    }
    #confirm_btn1{
        position:relative;
        left:200px;
    }
    #confirm_btn2{
        position:relative;
        left:250px;
    }
}
@media screen and (max-width:700px){
    img{
        max-width: 100%;
        height: auto;
        width /***/:auto;　
    }
    #id{
        height:auto;
        width:300px;
        float:right;
        position: relative;
        top:25px;
    }
    .button_position{
        width:100px;
        position: relative;
        left:130px;
    }
    .btn_posi{
        width:100px;
        position:relative;
        top: 30px;
        right:0;
    }
    textarea{
        width: 400px;
    }
    #a{
        width:100px;
        position:relative;
        bottom: 34px;
        left:100px;
    }
    #btn_ret{
        text-align: center;
        position:relative;
        left:80px;
    }
    #btn_nex{
        text-align: center;
        display:inline-block;
        position:relative;
        left:130px;
    }
    #confirm_btn1{
        position:relative;
        left:150px;
    }
    #confirm_btn2{
        position:relative;
        left:200px;
    }
}
@media screen and (max-width: 600px){
    /*        ～以下、画面の横幅が700pxまでの場合のスタイル記入～*/
    img{
        max-width: 100%;
        height: auto;
        width /***/:auto;　
    }
    .width400{
        width: 60%;
    }
    #id{
        height:auto;
        width:300px;
        float:right;
        position: relative;
        top:0px;
    }
    .button_position{
        position: relative;
        left:60px;
    }
    .min_posi_bottom20{
        position:relative;
        bottom: 20px;
    }
    textarea{
        width: 300px;
    }
    #a{
        width:100px;
        position:relative;
        bottom: 34px;
        left:100px;
    }
    #confirm_btn1{
        position:relative;
        left:80px;
    }
    #confirm_btn2{
        position:relative;
        left:130px;
    }
}